@import "node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  figure,
  p,
  ol,
  ul {
    margin: 0;
  }
  
  ol[role="list"],
  ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }

/* -------------------------------- */

* {
  brder: 2px solid rgb(0, 21, 255);
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(131, 131, 131);
}

.main-body {
  border: 2px solid red;
  width: 1000px;
  height: 100vh;
}

.nav-bar {
  background-color: red;
  height: 30px;
  width: 100%;
  font-size: 1.2rem;
}

h1 {
  margin-left: 95px;
  transform: translateY(-2px);
}

nav {
  display: flex;
  justify-content: end;
  transform: translateY(-30px);
  margin-right: 75px;
}

ul {
  background-color: red;
}

li {
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
}

.txt {
  width: 400px;
  transform: translateY(120px);
  margin-left: 80px;
  font-size: 1.3rem;
  word-wrap: break-word;
}

.bold {
  font-size: 1.5rem;
  font-weight: bold;
}

.rat {
  width: 400px;
  transform: translateY(-63px);
  margin-left: 490px;
}

.bar-one {
  background-color: rgb(109, 39, 39);
}

.bar-one-button {
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  transform: translateY(35px);
  color: aquamarine;
}

.bar-two {
  background-color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  justify-content: center;
  gap: 40px;
  transform: translateY(30px);
}

.cube {
  border: 2px solid blue;
  height: 90px;
  width: 90px;
  border-radius: 10px;
}

.sometxt {
  transform: translateY(-40px);
  margin-left: 10px;
  width: 90px;
  word-wrap: break-word;
}

.randominfo {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.bar-three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 266px;
  background-color: beige;
}

.quote {
  word-wrap: break-word;
  width: 400px;
  font-size: 1.5rem;
}